body {
  padding-top: 20px;
  padding-bottom: 30px;
}

.jumbotron {
  background: -webkit-linear-gradient(90deg, #6468b8, #9094DC);
  background: -moz-linear-gradient(90deg, #6468b8, #9094DC);
  background: -o-linear-gradient(90deg, #6468b8, #9094DC);
  background: linear-gradient(90deg, #6468b8, #9094DC);
  color: white;
  margin-bottom: 0px;
}

a:link, a:visited, a:hover, a:active {
  color: #3136a8;
}

.jumbotron img {
    float: left; 
    width: 175px; 
    padding-right: 30px
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron .btn-group-vertical {
  margin-top: 0px;
}

.jumbotron .btn, .jumbotron .btn:enabled {
  background-color: #BFAB73;
  border-color : #A68527;
}

.jumbotron .links-social {
  margin-top: 1em;  
  text-align: center;
  background-color: rgba(245,245,245,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(221,221,221,0.3);
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: -30px;
  padding-top: 10px;
  height: 43px;
}

.jumbotron h2 {
  border-bottom: 0px solid #6468b8;
  font-size: 100%;
}

h2 {
  border-bottom: 2px solid #6468b8;
  margin-bottom: 20px;
}

textarea {
    width: 100%;
}

.btn:enabled {
  background-color: #6468b8;
  border-color: 212578;
  color: white;
}

.btn-warning:enabled {
  background-color: #BFAB73;
  border-color : #A68527;
  color: white;
}

.btn-info:enabled {
  background-color: #FFE499;
  border-color : #A68527;
  color: black;
  margin-bottom: 10px;
}

.modal {
  display: block; 
}

.modal-big {
	width: 500px;
}

.modal-title {
	padding: 19px 20px 20px;
	margin-top: 5px;
	border-bottom: 1px solid #e5e5e5;
}

footer {
  background: -webkit-linear-gradient(90deg, #6468b8, #9094DC);
  background: -moz-linear-gradient(90deg, #6468b8, #9094DC);
  background: -o-linear-gradient(90deg, #6468b8, #9094DC);
  background: linear-gradient(90deg, #6468b8, #9094DC);
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color:  #858585;
  border-radius: 5px;
  color: white;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: white;
  text-decoration: underline;
}

footer p {
  margin-bottom: 0px;
}

.alert-warning {
  background-color: #FFE499;
  border-color: #BFAB73;
  color: #A68527;
}

.alert-error {
  background-color: #f2dede;
  color: #b94a48;
  border-color: #eed3d7;
}

