    <div class="row">
    <h2>How it works?</h2>
    <div class="col-md-6">
	    <div class="text-center">
	        <img style="margin-bottom: 20px; padding:10px;" class="img-thumbnail" src="images/advanced.png" alt="Composer">
	    </div>
	</div>
	<div class="col-md-6">
		<p>The composer</p>
		<p>To use the advanced JSON discoverer follow these steps:</p>
	    <ul>
	    	<li><strong>Step 1.</li>
	    	<li><strong>Step 2.</li>
	    </ul>
	</div>
    </div>

	<div class="row">
	<h2>Try it out!</h2>
	</div>

	<div ng-controller="CompositionCtrl">
	    <div class="row">

		</div>

	</div>