<div ng-controller="SimpleDiscovererCtrl">
    <div class="row">
    <h2>Who is behind this?</h2>

    <div class="row">
		<div class="col-md-6">
		    <div class="panel panel-default">
    			<div class="row">
				    <div class="panel-body">
				      <div class="col-md-2">
				        <img style="width:73px;"class="img-thumbnail" src="images/jlcanovas.jpg" alt="Javier Canovas">
				      </div>

				      <div class="col-md-10">
				        <h4>Javier Canovas</h4>
				        <p>
				          <a href="https://twitter.com/jlcanovas"><img src="images/glyphicons_social_31_twitter.png"></a>
				          <a href="https://github.com/jlcanovas"><img src="images/glyphicons_social_21_github.png"></a>
				          <a href="http://es.linkedin.com/in/javiercanovasizquierdo/"><img src="images/glyphicons_social_17_linked_in.png"></a>
				        </p>
				      </div>
				    </div>
			    </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
    			<div class="row">
			    <div class="panel-body">
			      <div class="col-md-2">
			        <img style="width:73px;"class="img-thumbnail" src="images/jcabot.jpg" alt="Javier Canovas">
			      </div>

			      <div class="col-md-10">
			        <h4>Jordi Cabot</h4>
			        <p>
			          <a href="https://twitter.com/softmodeling"><img src="images/glyphicons_social_31_twitter.png"></a>
			          <a href="http://es.linkedin.com/in/jcabot"><img src="images/glyphicons_social_17_linked_in.png"></a>
			          <a href="https://www.facebook.com/modelinglanguages"><img src="images/glyphicons_social_30_facebook.png"></a>    
			        </p>
			      </div>
			    </div>
			    </div>
		    </div>
	    </div>
    </div>

    <div class="row">
		<div class="col-md-12">
		<h2>Can I collaborate?</h2>
    	<p>Absolutely!. This project is licensed under the <abbr title="Eclipse Public License">EPL</abbr> license so feel free to contribute. Source code is available in <a href="https://github.com/jlcanovas/json-discoverer" target="_blank">GitHub</a></p>

    	<h2>How can I follow the latest news?</h2>
    	<p>All major announcements will be posted in the <a href="http://modeling-languages.com">modeling-languages.com</a> portal. You can also follow our <a href="https://twitter.com/softmodeling" target="_blank">@softmodeling</a> and <a href="https://twitter.com/jlcanovas" target="_blank">@jlcanovas</a> twitter accounts for updates. And check also the <a href="http://www.emn.fr/z-info/atlanmod/index.php/Main_Page">AtlanMod</a> team page. </p>
    	</div>
    </div>
</div>