jsondiscoverer.coverage/bin/**/*
jsondiscoverer.tests/bin/**/*
jsondiscoverer.tests/log/**/*
jsondiscoverer.ui/bin/**/*
jsondiscoverer.examples/bin/**/*
jsondiscoverer.zoo/bin/**/*
jsondiscoverer.zoo/zooBig/*
jsondiscoverer.zoo/zooMini/*
jsondiscoverer/bin/**/*
jsondiscoverer.web/build/**/*
jsondiscoverer.web/jsonDiscoverer.war
jsondiscoverer.web/**/workingDir/**/*.xmi
jsondiscoverer.web/**/workingDir/**/*.ecore
jsondiscoverer.web/**/workingDir/**/*.graphdesc
jsondiscoverer.web/**/workingDir/**/*.jpg
jsondiscoverer.web/**/workingDir/**/*.png
jsondiscoverer.web/**/workingDir/**/*.feedback
testing/**
.idea/**
*.iml