<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>


<!-- adding resource factories -->



    <!-- marker definitions for fr.inria.atlanmod.Json -->


	<!-- Quick Outline -->
    <!-- quickfix marker resolution generator for fr.inria.atlanmod.Json -->
   	<!-- Rename Refactoring -->


   <extension point="org.eclipse.modisco.infra.discovery.core.discoverer">
      <discoverer class="jsondiscoverer.ui.discoverer.JsonModiscoDiscovererFile" id="jsondiscoverer.json"/>
      <discoverer
            class="jsondiscoverer.ui.discoverer.JsonModiscoDiscovererFragment"
            id="jsondiscoverer.jsonFragment">
      </discoverer>
      <discoverer
            class="jsondiscoverer.ui.discoverer.JsonModiscoDiscovererFolder"
            id="jsondiscoverer.jsonFolder">
      </discoverer>
      <discoverer
            class="jsondiscoverer.ui.discoverer.JsonModiscoDiscovererComposer"
            id="jsondiscoverer.jsonComposer">
      </discoverer>
   </extension>
   <extension point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="jsondiscoverer.json"
            label="Discover JSON metamodel"
            path="JSON"/>
      <discoverer
            discovererID="jsondiscoverer.jsonFragment"
            label="Enrich JSON metamodel with fragment"
            path="JSON">
      </discoverer>
      <discoverer
            discovererID="jsondiscoverer.jsonFolder"
            label="Discover metamodel from contained JSON files"
            path="JSON">
      </discoverer>
      <discoverer
            discovererID="jsondiscoverer.jsonComposer"
            label="Compose models "
            path="JSON">
      </discoverer>
   </extension>
</plugin>
