    <div class="row">
    <h2>How it works?</h2>
    <div class="col-md-6">
	    <div class="text-center">
	        <img style="margin-bottom: 20px; padding:10px;" class="img-thumbnail" src="images/advanced.png" alt="Advanced discoverer">
	    </div>
	</div>
	<div class="col-md-6">
		<p>The advanced JSON discoverer infers and visualizes the implicit schema shared by a set of JSON documents. As shown in the figure, the process works by analyzing the commonalities of JSON definitions coming from the same or different sources (two in the figure). In the latter, the discoverer infers links between the subschema of each source.</p>
		<p>To use the advanced JSON discoverer follow these steps:</p>
	    <ul>
	    	<li><strong>Step 1. Provision.</strong> You have to provide one or more JSON sources. For each source, you have to give a name and provide one ore more JSON definitions.</li>
	    	<li><strong>Step 2. Discovery and Composition.</strong> For each JSON source we will discover the schema information and then all (sub)schemas will be composed in a general schema. This general schema will be visualized in the form of a UML class diagram.</li>
	    </ul>
	</div>
    </div>

	<div class="row">
	<h2>Try it out!</h2>
	</div>

	<div ng-controller="AdvancedDiscovererCtrl">
	    <div class="row">
		    <div class="col-md-4">
		    	<h4>Step 1. Providing your JSON sources</h4>
		    	<div class="row">
			    	<form class="form-horizontal" role="form">
			    		<label for="inputName" class="col-md-2 control-label">Name</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="inputName" placeholder="Meaningful name for your JSON excerpt" ng-model="name">
						</div>
						<button class="btn col-md-2" ng-disabled="name == ''" ng-click="newSource()">OK</button>
			    	</form>
				</div>
				<h4 style="padding-top: 20px;">Step 2. Discover and Compose </h4>
				<button class="btn btn-block" ng-disabled="!discoveryPosible" ng-click="discover()">Discover Domain Model</button>
		    </div>

		    <div class="col-md-8">
				<div ng-repeat="jsonDef in defs">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-1"><strong>Name:</strong></div>
							<div class="col-md-5">{{jsonDef.name}}</div>
							<div class="col-md-3"><strong>JSONs provided:</strong></div>
							<div class="col-md-1">{{jsonDef.jsonDefs.length}}</div>
							<div class="col-md-2"><button class="btn btn-xs" ng-click="provideJson(jsonDef.name)">Provide JSON</button></div>
							<script type="text/ng-template" id="jsonProvisionModal.html">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="model-header">
											<h3 class="modal-title">Provide your JSON for your {{json.name}} source</h3>
										</div>
										<div class="modal-body">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="inputJson" class="col-md-12">Copy/Paste your JSON here:</label>
													<div class="col-md-12">
														<textarea rows="12" id="inputJson" ng-model="json.text" resizable="false"></textarea>
													</div>			
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button class="btn" ng-disabled="json.text == ''" ng-click="ok()">OK</button>
											<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
										</div>
									</div>
								</div>			
							</script>
						</div> 
					</div>
				</div>
		    </div>

		</div>

	    <div class="row">
			<div class="col-md-12">
				<h3 ng-show="showTitles">Your Domain Model</h3>
		    	<p class="text-center"><img id="metamodel" ng-src="{{metamodel}}" class="img-rounded"></p>
			</div>
		</div>

		<div class="row">
		<div class="col-md-12">
			<alert ng-repeat="alert in alertsGeneral" type="{{alert.type}}" close="closeGeneralAlert($index)">
				<div ng-bind-html="alert.msg"></div>
			</alert>
		</div>
		</div>
	</div>