
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>JSON discoverer</title>
    <meta name="description" content="JSON discoverer">
    <meta name="author" content="Javier Canovas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css" media="screen">
</head>
<body ng-app="jsonDiscoverer">

<div class="container">

    <div class="row">
    <div class="jumbotron">
    	<div class="container">  
	    	<div class="row">
	    		<div class="col-md-9">
			    	<img style="float:left; width:175px; padding-right:30px;" src="images/icon.png">
			    	<h1>JSON discoverer</h1> 
			   	 	<h2>Discover domain models from JSON files</h2>
			   	</div>
			   	<div class="col-md-3">			   	
			   		<div class="text-center">
			   		<div class="btn-group-vertical btn-group-lg">
				   		<button class="btn" onclick="location.href='simple.html'">Simple Discoverer</button>
				   		<button class="btn" onclick="location.href='advanced.html'">Advanced Discoverer</button>
				   	</div>
				   	</div>
			   	</div>
	   	 	</div>
   		</div>
    </div>
    </div>

    <div class="row">
    <h2>How it works?</h2>
    <div class="col-md-6">
	    <div class="text-center">
	        <img style="margin-bottom: 20px;" class="img-thumbnail" src="images/advanced.png" alt="Advanced discoverer">
	    </div>
	</div>
	<div class="col-md-6">
	    <p>The following figure illustrates the process applied in the advance JSON discoverer.</p>
	    <ul>
	    	<li><strong>Step 1. Provision.</strong> You can provide one or more JSON sources. For each source, you can provide one ore more examples.</li>
	    	<li><strong>Step 2. Discovery and Composition.</strong> For each JSON source we will discover the domain and then they are composed to get a general domain model. In this step we will give you a class diagram representing the overall domain defined by the set of JSON definitions.</li>
	    </ul>
	</div>
    </div>

	<div class="row">
	<h2>Try it out!</h2>
	</div>

	<div ng-controller="AdvancedDiscovererCtrl">
	    <div class="row">
		    <div class="col-md-8">
				<div ng-repeat="jsonDef in defs">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-1"><strong>Name:</strong></div>
							<div class="col-md-5">{{jsonDef.name}}</div>
							<div class="col-md-3"><strong>JSONs provided:</strong></div>
							<div class="col-md-1">{{jsonDef.jsonDefs.length}}</div>
							<div class="col-md-2"><button class="btn btn-xs" ng-click="provideJson(jsonDef.name)">Provide JSON</button></div>
							<script type="text/ng-template" id="jsonProvisionModal.html">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="model-header">
											<h3 class="modal-title">Provide your JSON for your {{json.name}} source</h3>
										</div>
										<div class="modal-body">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="inputJson" class="col-md-12">Copy/Paste your JSON here:</label>
													<div class="col-md-12">
														<textarea rows="12" id="inputJson" ng-model="json.text" resizable="false"></textarea>
													</div>			
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button class="btn btn-primary" ng-click="ok()">OK</button>
											<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
										</div>
									</div>
								</div>			
							</script>
						</div> 
					</div>
				</div>
		    </div>

		    <div class="col-md-4">
		    	<h4>Step 1. Providing your JSON sources</h4>
		    	<div class="row">
			    	<form class="form-horizontal" role="form">
			    		<label for="inputName" class="col-md-2 control-label">Name</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="inputName" placeholder="Meaningful name for your JSON excerpt" ng-model="name">
						</div>
						<button class="btn col-md-2" ng-click="newSource()">OK</button>
			    	</form>
				</div>
				<h4 style="padding-top: 20px;">Step 2. Discover and Compose </h4>
				<button class="btn btn-block" ng-click="discover()">Discover Domain Model</button>
		    </div>

		    <div class="row">
				<div class="col-md-6">
					<h3>Your Domain Model</h3>
			    	<p class="text-center"><img id="metamodel" ng-src="{{metamodel}}" class="img-rounded"></p>
				</div>
			</div>
		</div>
	</div>
	
    <footer>
		<div class="container">
  			<div class="row">
  				<div class="col-md-12">  
  					<p class="text-center"><small>The JSON discoverer is a tool that allows you to get a UML class diagram out of your JSON files.</small> </p>
					<p class="text-center"><small>Code licensed under the <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</small></p>
					<p class="text-center"><small><a href="http://www.emn.fr/z-info/atlanmod/index.php/Main_Page">AtlanMod</a></small></p>
  				</div>
  			</div>
		</div>
	</footer>

</div>

<script src="js/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="js/script.js"></script>

</body>
</html>
