body {
  padding-top: 20px;
  padding-bottom: 30px;
}

.jumbotron {
  background-color: #858585;
  color: white;
}

.jumbotron img {
    float: left; 
    width: 175px; 
    padding-right: 30px
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron .btn-group-vertical {
  margin-top: 30px;
}

textarea {
    width: 100%;
}


.modal {
  display: block; 
}

.modal-big {
	width: 500px;
}

.modal-title {
	padding: 19px 20px 20px;
	margin-top: 5px;
	border-bottom: 1px solid #e5e5e5;
}

footer {
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 120px;
  background-color:  #858585;
  border-radius: 5px;
}

footer p {
  margin-bottom: 0px;
}

