    <div class="row">
    <h2>How does it work?</h2>
    <div class="col-md-6">
	    <div class="text-center">
	        <img style="margin-bottom: 20px; padding:10px;" class="img-thumbnail" src="images/advanced.png" alt="Advanced discoverer">
	    </div>
	</div>
	<div class="col-md-6">
		<p>The advanced JSON discoverer infers and visualizes the <strong>implicit schema behind a set of JSON documents</strong>. 
		As shown in the figure, the process works by <strong>analyzing the commonalities</strong> of JSON documents coming from the same/different sources (two in the figure) and building a global schema integrating all of them. In the latter, the discoverer infers links between the subschema of each source.</p>
		<p>To use the advanced JSON discoverer follow these steps:</p>
	    <ul>
	    	<li><strong>Step 1. Provision.</strong> You have to provide one or more JSON sources. For each source, you have to give a name and provide one ore more JSON documents.</li>
	    	<li><strong>Step 2. Discovery and Composition.</strong> For each JSON source we will discover the schema information and then all (sub)schemas will be composed in a general schema. This general schema will be visualized in the form of a (UML) class diagram.</li>
	    </ul>
	</div>
    </div>

	<div class="row">
	<h2>Try it out!</h2>
		<div style="float:right; margin-top:-15px; margin-bottom:10px;">
            <button class="btn btn-xs" type="button" ng-click="activateHelp()">Give me some help!</button>
        </div>
	</div>

	<div ng-controller="AdvancedDiscovererCtrl">
	    <div class="row">
		    <div class="col-md-5">
		    	<h4>Step 1. Provide your JSON <a ng-click="example()" 
			data-intro="If you just want to test the service, click here to get a test JSON document" data-position="right"> (or use an example)</a></h4>
		    	<div class="row">
			    	<form class="form-horizontal" role="form">
			    		<label for="inputName" class="col-md-2 control-label">Name</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="inputName" placeholder="Meaningful name for your JSON excerpt" ng-model="name"
							data-intro="Create a JSON source giving a name. After you can add JSON documents representing the output of the source" data-position="top">
						</div>
						<button class="btn col-md-2" ng-disabled="name == ''" ng-click="newSource()">OK</button>
			    	</form>
				</div>
				<h4 style="padding-top: 20px;">Step 2. Discover and Compose </h4>
				<button class="btn btn-block" ng-disabled="!discoveryPosible" ng-click="discover()"
				data-intro="Once you have given your JSONs you can launch the discovery process" data-position="right">Discover Schema</button>
				<a style="text-decoration: none;" ng-href="{{metamodelFile}}" target="_blank">
					<button style="margin-top: 10px;" class="btn btn-block" type="button" ng-disabled="metamodelFile == ''"
					data-intro="We work with Eclipse Modeling Framework (EMF) so if you want you can download the schema as an Ecore file" data-position="bottom">
						Download Schema <small>(Save as Ecore)</small>
					</button> 
				</a>
		    </div>

		    <div class="col-md-7">
				<div ng-repeat="jsonDef in defs">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-1"><strong>Name:</strong></div>
							<div class="col-md-5">{{jsonDef.name}}</div>
							<div class="col-md-3"><strong>JSONs provided:</strong></div>
							<div class="col-md-1">{{jsonDef.jsonDefs.length}}</div>
							<div class="col-md-2"><button class="btn btn-xs" ng-click="provideJson(jsonDef.name)">Provide JSON</button></div>
						</div> 
					</div>
				</div>
		    </div>

		</div>

	    <div class="row">
			<div class="col-md-12">
				<h3 ng-show="showTitles">Your Schema</h3>
		    	<p class="text-center"><img id="metamodel" ng-src="{{metamodel}}" class="img-rounded"></p>
			</div>
		</div>

		<div class="row">
		<div class="col-md-12">
			<alert ng-show="showFeedback" type="warning">
				Did you expect other schema? Please <a ng-click="sendFeedback()">send us your feedback</a> to improve our tool!
			</alert>
			<alert ng-show="showThanks" type="success">
				Thanks for your feedback! We will try hard to improve our tool :)
			</alert>
			<alert ng-show="showError" type="error">
				{{errorMsg}}
			</alert>
		</div>
		</div>
	</div>