    <div class="row">
    <!-- <div style="float:right; margin-top:25px;">
        <div class="label label-danger">Be aware! This component is currently under development!</div>
    </div> -->
    <h2>How does it work? 
    </h2>
    <div class="col-md-6">
	    <div class="text-center">
	        <img style="margin-bottom: 20px; padding:10px;" class="img-thumbnail" src="images/composition.png" alt="Composition Discoverer">
	    </div>
	</div>
	<div class="col-md-6">
		<p>The composition discoverer <strong>infers a set of matching elements</strong> from a set of JSON documents (coming from the same or several sources). 
		   It generates that allows you to easily visualize how your APIs can be composed.</p>
		<p>To use the composition discoverer follow these steps:</p>
	    <ul>
	    	<li><strong>Step 1. Provision.</strong> You have to provide two or more JSON sources. For each source you have to give a name and provide the input (optional) and one or more JSON definitions.</li>
	    	<li><strong>Step 2. Composition discovery.</strong> For each JSON source we will discovery the schema information and then we all (sub)schemas will be composed in a graph where
            graph nodes represents schema concepts and attributes. We will discover as well possible links among these concepts.</li>
            <li><strong>Step 3. Composition Graph.</strong> You can apply the layout to better read the graph.</li>
            <li><strong>Step 4. Calculate a Path.</strong> Paths in the graph can represent API compositions. Given a source and a target nodes, you can calculate a path, which we will represent
            as a sequence diagram.</li>

	    </ul>
	</div>
    </div>

	<div class="row">
	<h2>Try it out!</h2>
	</div>

	<div ng-controller="CompositionCtrl">
	    <div class="row">
            <div class="row">
                <div class="col-md-4">
                    <h4>Step 1. Providing your JSON sources</h4>
                    <div class="row">
                        <form class="form-horizontal" role="form">
                            <label for="inputName" class="col-md-2 control-label">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputName" placeholder="Meaningful name for your JSON" ng-model="name">
                            </div>
                            <button class="btn col-md-2" ng-disabled="name == ''" ng-click="newSource()">OK</button>
                        </form>
                    </div>
                    <h4 style="padding-top: 20px;">Step 2. Composition Discovery </h4>
                    <button class="btn btn-block" ng-disabled="!compositionPosible" ng-click="discoverComposition()">Discover Graph</button>
                </div>

                <div class="col-md-8">
                    <div ng-repeat="jsonDef in defs">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-1"><strong>Name:</strong></div>
                                <div class="col-md-5">{{jsonDef.name}}</div>
                                <div class="col-md-3"><strong>JSONs provided:</strong></div>
                                <div class="col-md-1">{{jsonDef.jsonDefs.length}}</div>
                                <div class="col-md-2"><button class="btn btn-xs" ng-click="provideJson(jsonDef.name)">Provide JSON</button></div>
                                <script type="text/ng-template" id="jsonProvisionModalWithInput.html">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="model-header">
                                                <h3 class="modal-title">Provide your JSON for your {{json.name}} source</h3>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <label for="inputJson" class="col-md-12">Input (as JSON) - Optional:</label>
                                                        <div class="col-md-12">
                                                            <textarea rows="4" id="inputJson" ng-model="json.input" resizable="false"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="outputJson" class="col-md-12">Copy/Paste the JSON returned:</label>
                                                        <div class="col-md-12">
                                                            <textarea rows="12" id="outputJson" ng-model="json.output" resizable="false"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" ng-disabled="json.output == ''" ng-click="ok()">OK</button>
                                                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <h4 style="padding-top: 20px;">Step 3. Composition Graph </h4>
            <div style="float:right;">
                <button style="margin-top: -10px;"class="btn" ng-click="layout()">{{layoutButton}}</button>
            </div>
            <p>Same-colored nodes represent concepts of an API. White nodes represent attributes of the concepts while red nodes represent input concepts</p>
            <p class="text-center">
                <div id="graphFrame">
                    <div id="sigma-container"></div>
                </div>
            </p>

            <h4 style="padding-top: 20px;">Step 4. Calculate a Path</h4>
            <p>Select two nodes of the graph. If a path exists, we will show it as a sequence diagram</p>
            <form class="form-horizontal" role="form">
                <label for="sourceNode" class="col-md-2 control-label">Source Node</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="sourceNode" placeholder="Select a source node" ng-model="sourcePath.label" readonly>
                </div>
                <label for="targetNode" class="col-md-2 control-label">Target Node</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="targetNode" placeholder="Select a target node" ng-model="targetPath.label" readonly>
                </div>
                <button class="btn col-md-3 col-md-offset-1" ng-click="calculatePath()">Calculate</button>
            </form>
		</div>

        <div class="row">
            <p class="text-center">
                <div id="sequence-diagram"></div>
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <alert ng-repeat="alert in alertsGeneral" type="{{alert.type}}" close="closeGeneralAlert($index)">
                    <div ng-bind-html="alert.msg"></div>
                </alert>
            </div>
        </div>

	</div>