    <div class="row">
    <!-- <div style="float:right; margin-top:25px;">
        <div class="label label-danger">Be aware! This component is currently under development!</div>
    </div> -->
    <h2>How does it work? 
    </h2>
    <div class="col-md-6">
	    <div class="text-center">
	        <img style="margin-bottom: 20px; padding:10px;" class="img-thumbnail" src="images/composition.png" alt="Composition Discoverer">
	    </div>
	</div>
	<div class="col-md-6">
		<p>The API composer <strong>looks for matching elements in different API schemas and generates a composition graph</strong>. We use this graph to assist developers trying to compose APIs by searching for paths that connect the target input/output data. The tool currently incoporates a sequence diagram generator to visualize API compositions.</p>
		<p>To use the API composer follow these steps:</p>
	    <ul>
	    	<li><strong>Step 1. Provision.</strong> You have to provide two or more JSON sources. For each source you have to give a name and provide the call input (optional) and one or more examples of JSON documents returned by the source.</li>
	    	<li><strong>Step 2. Composition discovery.</strong> For each JSON source we will discover the schema information.</li>
            <li><strong>Step 3. Composition Graph.</strong> The discovered schemas will be composed in a graph where graph nodes represents schema concepts and attributes. We will discover as well possible links among these concepts. You can apply the layout to better read the graph.</li>
            <li><strong>Step 4. Calculate a Path.</strong> Paths in the graph can represent potential API compositions. Given a source and a target nodes, you can calculate a path, which we will represent
            as a sequence diagram displaying the ordered list of services you should call in the composition</li>

	    </ul>
	</div>
    </div>

	<div class="row">
	<h2>Try it out!</h2>
		<div style="float:right; margin-top:-15px; margin-bottom:10px;">
            <button class="btn btn-xs" type="button" ng-click="activateHelp()">Give me some help!</button>
        </div>
	</div>

	<div ng-controller="CompositionCtrl">
	    <div class="row">
            <div class="row">
                <div class="col-md-5">
                    <h4>Step 1. Provide your JSON sources <a ng-click="example()" 
			data-intro="If you just want to test the service, click here to get a test JSON document" data-position="right"> (or use an example)</a></h4>
                    <div class="row">
                        <form class="form-horizontal" role="form">
                            <label for="inputName" class="col-md-2 control-label">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="inputName" placeholder="Meaningful name for your JSON" ng-model="name"
                                data-intro="Create a JSON source giving a name. After you can add JSON documents representing the output of the source" data-position="top">
                            </div>
                            <button class="btn col-md-2" ng-disabled="name == ''" ng-click="newSource()">OK</button>
                        </form>
                    </div>
                    <h4 style="padding-top: 20px;">Step 2. Composition Discovery </h4>
                    <button class="btn btn-block" ng-disabled="!compositionPosible" ng-click="discoverComposition()"
                    data-intro="Once you have provided your JSON sources, you can launch the garph discovery" data-position="right">Discover Graph</button>
                </div>

                <div class="col-md-7">
                    <div ng-repeat="jsonDef in defs">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-1"><strong>Name:</strong></div>
                                <div class="col-md-5">{{jsonDef.name}}</div>
                                <div class="col-md-3"><strong>JSONs provided:</strong></div>
                                <div class="col-md-1">{{jsonDef.jsonDefs.length}}</div>
                                <div class="col-md-2"><button class="btn btn-xs" ng-click="provideJson(jsonDef.name)">Provide JSON</button></div>
                                <script type="text/ng-template" id="jsonProvisionModalWithInput.html">
                                    <div>
                                        <div class="modal-content">
                                            <div class="model-header">
                                                <h3 class="modal-title">Provide your JSON for your {{json.name}} source</h3>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <label for="inputJson" class="col-md-12">Input (as JSON) - Optional:</label>
                                                        <div class="col-md-12">
                                                            <textarea rows="4" id="inputJson" ng-model="json.input" resizable="false"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="outputJson" class="col-md-12">Copy/Paste the JSON returned:</label>
                                                        <div class="col-md-12">
                                                            <textarea rows="12" id="outputJson" ng-model="json.output" resizable="false"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" ng-disabled="json.output == ''" ng-click="ok()">OK</button>
                                                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <h4 style="padding-top: 20px;">Step 3. Composition Graph </h4>
            <div style="float:right;">
                <button style="margin-top: -10px;"class="btn" ng-disabled="!layoutPosible" ng-click="layout()"
                data-intro="The layout algorithm will tidy up the nodes" data-position="top">{{layoutButton}}</button>
            </div>
            <p>Same-colored nodes represent concepts of an API. White nodes represent attributes of the concepts while red nodes represent input concepts</p>
            <p class="text-center">
                <div id="graphFrame">
                    <div id="sigma-container"></div>
                </div>
            </p>

            <h4 style="padding-top: 20px;">Step 4. Calculate a Path</h4>
            <div style="margin-top: -10px; margin-bottom: 5px"><small>(or select <code>Example1Input</code> and <code>Line</code> nodes in the example, and then click on <em>Calculate</em>)</small></div>
            <p>Select two nodes of the graph. Note that the first node must be an input node (suffixed with <code>Input</code>). If a path exists, we will show it as a sequence diagram (generated with <a href="http://bramp.github.io/js-sequence-diagrams/">js-sequence-diagrams</a> library)</p>
            <form class="form-horizontal" role="form">
                <label for="sourceNode" class="col-md-2 control-label">Source Node</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="sourceNode" placeholder="Select a source node" ng-model="sourcePath.label" readonly
                    data-intro="Select the source node by click on the graph" data-position="bottom">
                </div>
                <label for="targetNode" class="col-md-2 control-label">Target Node</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="targetNode" placeholder="Select a target node" ng-model="targetPath.label" readonly
                    data-intro="Select the target node by click on the graph" data-position="bottom">
                </div>
                <button class="btn col-md-3 col-md-offset-1" ng-disabled="!pathPosible" ng-click="calculatePath()"
                data-intro="Once source/target nodes are selected, you can launch the sequence diagram generator" data-position="bottom">Calculate</button>
            </form>
		</div>

        <div class="row">
            <p class="text-center">
                <div id="sequence-diagram"></div>
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
				<alert ng-show="showError" type="error">
					{{errorMsg}}
				</alert>
            </div>
        </div>

	</div>