    <div class="row">
    <h2>What is this?</h2>
    <p>The JSON discoverer allows you to <strong>discover the implicit schema of your JSON documents</strong>. Any JSON document includes both metadata (i.e., the schema) and data (i.e., the objects/values conforming to the schema). Given a (set of) JSON documents our discoverer analyzes the JSON data and generates for you a class diagram showing graphically the implicit JSON schema of your documents plus an object diagram representing their data.</p>

    <p>This service implements some of the research work presented in the <a href="https://www.researchgate.net/publication/262317804_Discovering_implicit_schemas_in_JSON_data">paper</a> titled <a href="http://modeling-languages.com/discovering-implicit-schemas-in-json-documents/"><em>Discovering Implicit Schemas in JSON Data</em></a> published in the <a href="http://icwe2013.webengineering.org/">ICWE'13 conference</a>.</p>

    <p>The composition feature implements the research work presented in the <a href="https://www.researchgate.net/publication/272824956_Composing_JSON-based_Web_APIs?ev=prf_pub">paper</a> titled <a href="http://modeling-languages.com/composing-json-based-web-apis/"><em>Composing JSON-based Web APIs</em></a> published in the <a href="http://icwe2014.webengineering.org/">ICWE'14 conference</a>.</p>
    </div>

    <div class="row">
    <div class="col-md-4">
    	<div class="text-center">
          	<h3>Simple Discoverer</h3>
          	<a href="#/simple"><img style="margin-bottom: 20px; width:600px; " class="img-thumbnail" src="images/simpleLanding.png" alt="Simple discoverer"></a>
          	<p>The simple discovery mode analyzes a single JSON definition and provides both the schema and the data. </p>
        </div>
    </div>
    <div class="col-md-4">
    	<div class="text-center">
          	<h3>Advanced Discoverer</h3>
          	<a href="#/advanced"><img style="margin-bottom: 20px; width:600px;" class="img-thumbnail" src="images/advancedLanding.png" alt="Advanced discoverer"></a>
          	<p>The advanced mode analyzes sets of JSON definitions and discover the common schema among them. </p>
      </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h3>Composition Discoverer</h3>
            <a href="#/composer"><img style="margin-bottom: 20px; width:600px;" class="img-thumbnail" src="images/compositionLanding.png" alt="Composition discoverer"></a>
            <p>The composition discoverer helps you to identify API compositions in a graphical way. </p>
        </div>
    </div>
    </div>
