<div ng-controller="SimpleDiscovererCtrl">
    <div class="row">
	    <h2>How does it work?</h2>
	    <div class="col-md-6">
		    <div class="text-center">
		        <img style="margin-bottom: 20px; padding:40px;" class="img-thumbnail" src="images/simple.png" alt="Simple discoverer">
		    </div>
		</div>
		<div class="col-md-6">
		    <p>The simple JSON discoverer generates a graphical <strong>representation of the implicit schema and data</strong> of a single JSON document. The figure on your left depicts the process.</p>
		    <p>The schema information is represented as a (UML) <strong>class diagram</strong> while the data information is depicted by means of an <strong>object diagram</strong> (conforming to the previous class diagram),</p>
		    <p>To use the simple JSON discoverer you only have to provide your JSON document.</p>
		</div>
    </div>


	<div class="row">
		<h2>Try it out!</h2>
		<div style="float:right; margin-top:-15px; margin-bottom:-30px;">
            <button class="btn btn-xs" type="button" ng-click="activateHelp()">Give me some help!</button>
        </div>
	</div>

	<div ng-show="isSecure()">
	</div>

    <div class="row">
		<div class="col-md-12">
			<h3>Your JSON document</h3>
		</div>
	</div>

    <div class="row">
	    <div class="col-md-10">
			<p>Copy/Paste your JSON here <a ng-click="example()" 
			data-intro="If you just want to test the service, click here to get a test JSON document" data-position="top">(or use an example)</a>: </p>
			<form role="form">
				<div class="form-group">
					<p><textarea rows="10" style="width: 100%; resize: none;" ng-model="json.text" 
					data-intro="Write (or copy/paste) here the JSON document from which you want to discover the schema (and the data model)" data-position="top"></textarea></p>			
				</div>
			</form>

		    <div class="row">
				<form class="form-horizontal" role="form">
					<div class="col-md-4">
						<label for="urlJSON" class="control-label" style="font-weight: normal;">...or give us the URL to obtain the JSON:</label>
					</div>
					<div class="col-md-6">
						<input type="url" class="form-control" id="urlJSON" placeholder="URL returning a JSON" ng-model="url"
						data-intro="If you have an URL containing the JSON document, just put it here" data-position="bottom">
					</div>
					<div class="col-md-2">
						<button class="btn" ng-disabled="url == ''" ng-click="obtainJSON()">Obtain JSON</button>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-2">
			<p class="text-center">
				<button class="btn btn-block" type="button" ng-click="discover()" ng-disabled="json.text == ''"
				data-intro="Click here to launch the discoverer" data-position="top">Discover Schema</button>
				<a style="text-decoration: none;" ng-href="{{metamodelFile}}" target="_blank">
					<button style="margin-top: 20px;" class="btn btn-block" type="button" ng-disabled="metamodelFile == ''"
					data-intro="We work with Eclipse Modeling Framework (EMF) so if you want you can download the schema as an Ecore file" data-position="left">
						Download Schema<br>
						<small>(Save as Ecore)</small>
					</button>
				</a>
				<a style="text-decoration: none;" ng-href="{{modelFile}}" target="_blank">
					<button style="margin-top: 10px;" class="btn btn-block" type="button" ng-disabled="modelFile == ''"
					data-intro="You can also download the data model as an XMI file (conforming to the previous Ecore model)" data-position="bottom">
						Download Data<br>
						<small>(Save as XMI)</small>
					</button>
				</a>
			</p>
		</div>
	</div>

    <div class="row">
		<div class="col-md-6">
			<h3 ng-show="showTitles">Your Schema</h3>
	    	<p class="text-center"><img ng-src="{{metamodel}}" class="img-rounded"></p>
	    	<alert ng-repeat="alert in alertsSchema" type="{{alert.type}}" close="closeSchemaAlert($index)">{{alert.msg}}</alert>
		</div>
		<div class="col-md-6">
			<h3 ng-show="showTitles">Your Data</h3>
	    	<p class="text-center"><img ng-src="{{model}}" class="img-rounded"></p>
	    	<alert ng-repeat="alert in alertsData" type="{{alert.type}}" close="closeDataAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<alert ng-repeat="alert in alertsGeneral" type="{{alert.type}}" close="closeGeneralAlert($index)">
				<div ng-bind-html="alert.msg"></div>
			</alert>
		</div>
	</div>
</div>