<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.inria.fr/atlanmod/Json" 
       class = "fr.inria.atlanmod.json.JsonPackage"
       genModel = "fr/inria/atlanmod/Json.genmodel" /> 
	
  </extension>




</plugin>
